
BTL_WEB - Test/BTL_WEB/Web.config
BTL_WEB - Test/.vs/BTL_WEB/v15/.suo
BTL_WEB - Test/BTL_WEB/bin/BTL_WEB.dll
BTL_WEB - Test/BTL_WEB/bin/BTL_WEB.dll.config
BTL_WEB - Test/BTL_WEB/bin/BTL_WEB.pdb
BTL_WEB - Test/BTL_WEB/obj/Debug/BTL_WEB.csprojResolveAssemblyReference.cache
BTL_WEB - Test/BTL_WEB/obj/Debug/BTL_WEB.dll
BTL_WEB - Test/BTL_WEB/obj/Debug/BTL_WEB.pdb
BTL_WEB - Test/BTL_WEB/obj/Debug/CoreCompileInputs.cache
