USE [master]
GO
/****** Object:  Database [shopmobi]    Script Date: 10/10/2019 15:36:35 ******/
CREATE DATABASE [shopmobi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shopmobi', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shopmobi.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'shopmobi_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shopmobi_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shopmobi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shopmobi]
GO
/****** Object:  Table [dbo].[tbl_anh]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_anh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[duongdan] [varchar](255) NULL,
	[id_sp] [int] NULL,
 CONSTRAINT [PK_tbl_anh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_chitietdonhang]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_chitietdonhang](
	[id] [varchar](20) NOT NULL,
	[id_don] [varchar](12) NOT NULL,
	[id_sp] [int] NOT NULL,
	[id_tk] [int] NOT NULL,
	[soluong] [int] NULL,
	[id_tinhtrang] [nvarchar](20) NULL,
	[thoigian] [datetime] NULL,
 CONSTRAINT [PK_tbl_chitietdonhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_danhmuc]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_danhmuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dondathang]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_dondathang](
	[id] [varchar](12) NOT NULL,
	[ngaylap] [date] NULL,
	[tonggia] [decimal](18, 0) NULL,
	[diachi] [nvarchar](50) NULL,
	[sdt] [nvarchar](20) NULL,
 CONSTRAINT [PK__tbl_dond__3213E83F268A181D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_news]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](250) NULL,
	[noidung] [nvarchar](max) NULL,
	[ngaydang] [datetime] NULL,
	[id_tk] [int] NULL,
	[anh] [nchar](255) NULL,
 CONSTRAINT [PK__tbl_news__3213E83F85C8D18B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_nhasanxuat]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_nhasanxuat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_quyen]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_quyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_sanpham]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_sanpham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_dm] [int] NULL,
	[ten] [nvarchar](150) NULL,
	[gia] [int] NULL,
	[soluong] [int] NULL,
	[trongluong] [nchar](10) NULL,
	[ROM] [nchar](10) NULL,
	[RAM] [nchar](10) NULL,
	[thenho] [nvarchar](50) NULL,
	[camera_truoc] [nchar](10) NULL,
	[camera_sau] [nchar](10) NULL,
	[pin] [int] NULL,
	[baohanh] [nchar](50) NULL,
	[bluetooth] [int] NULL,
	[id_nsx] [int] NULL,
	[CPU] [varchar](50) NULL,
	[manhinh] [nvarchar](50) NULL,
	[tinhtrang] [int] NULL,
 CONSTRAINT [PK_tbl_sanpham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_taikhoan]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_taikhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_q] [int] NULL,
	[tentaikhoan] [nvarchar](50) NULL,
	[matkhau] [varchar](30) NULL,
	[id_ttcn] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK__tbl_nguo__3213E83FE3021EEB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_thongtincanhan]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_thongtincanhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[sdt] [decimal](18, 0) NULL,
	[email] [varchar](100) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [bit] NULL,
	[anhdaidien] [varchar](255) NULL,
	[diachi] [nvarchar](100) NULL,
 CONSTRAINT [PK__tbl_nhan__3213E83F7D0D328F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_tinhtrangdonhang]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tinhtrangdonhang](
	[id] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](20) NULL,
 CONSTRAINT [PK_tbl_tinhtrangdonhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_xulydon]    Script Date: 10/10/2019 15:36:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_xulydon](
	[id] [nvarchar](20) NOT NULL,
	[id_don] [varchar](12) NOT NULL,
	[tinhtrang] [nvarchar](30) NULL,
	[thoigian] [datetime] NULL,
 CONSTRAINT [PK_tbl_xulydon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_anh] ON 

INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (1, N'http://vn-test-11.slatic.net/original/026689afa37fba2ba7dbb197689f2b35.jpg_720x720q80.jpg_.webp', 1)
INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (2, N'http://vn-test-11.slatic.net/original/3b1834eb79e643b33b9d42a9de07b69f.jpg_720x720q80.jpg_.webp', 1)
INSERT [dbo].[tbl_anh] ([id], [duongdan], [id_sp]) VALUES (3, N'http://vn-test-11.slatic.net/original/14a2bfc5860bf1d4fb8eb7ed724da646.jpg_720x720q80.jpg_.webp', 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_anh] OFF
INSERT [dbo].[tbl_chitietdonhang] ([id], [id_don], [id_sp], [id_tk], [soluong], [id_tinhtrang], [thoigian]) VALUES (N'1', N'1', 1, 2, 10, N'1', CAST(N'2019-06-19 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_chitietdonhang] ([id], [id_don], [id_sp], [id_tk], [soluong], [id_tinhtrang], [thoigian]) VALUES (N'2', N'2', 2, 2, 100, N'1', CAST(N'2019-06-19 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_chitietdonhang] ([id], [id_don], [id_sp], [id_tk], [soluong], [id_tinhtrang], [thoigian]) VALUES (N'3', N'3', 3, 3, 10, N'2', CAST(N'2019-06-19 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] ON 

INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (1, N'Điện Thoại')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (2, N'Tablet    ')
INSERT [dbo].[tbl_danhmuc] ([id], [ten]) VALUES (3, N'Phụ Kiện  ')
SET IDENTITY_INSERT [dbo].[tbl_danhmuc] OFF
INSERT [dbo].[tbl_dondathang] ([id], [ngaylap], [tonggia], [diachi], [sdt]) VALUES (N'1', CAST(N'2018-09-11' AS Date), CAST(1000000 AS Decimal(18, 0)), N'234, Cầu Giấy , Hà Nội', N'01352141233')
INSERT [dbo].[tbl_dondathang] ([id], [ngaylap], [tonggia], [diachi], [sdt]) VALUES (N'10', CAST(N'2019-03-17' AS Date), CAST(56235423 AS Decimal(18, 0)), N'42, Yên Bái', N'01325412236')
INSERT [dbo].[tbl_dondathang] ([id], [ngaylap], [tonggia], [diachi], [sdt]) VALUES (N'2', CAST(N'2019-03-15' AS Date), CAST(10000 AS Decimal(18, 0)), N'42, Yên Bái', N'01325412236')
SET IDENTITY_INSERT [dbo].[tbl_news] ON 

SET IDENTITY_INSERT [dbo].[tbl_news] OFF
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] ON 

INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (1, N'Apple')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (2, N'Samsung')
INSERT [dbo].[tbl_nhasanxuat] ([id], [ten]) VALUES (3, N'Oppo')
SET IDENTITY_INSERT [dbo].[tbl_nhasanxuat] OFF
SET IDENTITY_INSERT [dbo].[tbl_quyen] ON 

INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (1, N'admin')
INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (2, N'nhanvien')
INSERT [dbo].[tbl_quyen] ([id], [ten]) VALUES (3, N'khachhang')
SET IDENTITY_INSERT [dbo].[tbl_quyen] OFF
SET IDENTITY_INSERT [dbo].[tbl_sanpham] ON 

INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (1, 1, N'Iphone Xs', 35000001, 13, N'101       ', N'1GB       ', N'4GB       ', N'null', N'8         ', N'13        ', 3000, N'10                                                ', 6, 1, N'Apple A13', N'5.9', 1)
INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (2, 1, N'Iphone Xs Max', 40000000, 9, N'100       ', N'512       ', N'4         ', N'null', N'7         ', N'12        ', 3174, N'12                                                ', 5, 1, N'Apple A12', N'6.5', 1)
INSERT [dbo].[tbl_sanpham] ([id], [id_dm], [ten], [gia], [soluong], [trongluong], [ROM], [RAM], [thenho], [camera_truoc], [camera_sau], [pin], [baohanh], [bluetooth], [id_nsx], [CPU], [manhinh], [tinhtrang]) VALUES (3, 1, N'Iphone X', 25000000, 10, N'100       ', N'256       ', N'3         ', N'0', N'7         ', N'12        ', 2716, N'12                                                ', 5, 1, N'Apple A11', N'5.8', 0)
SET IDENTITY_INSERT [dbo].[tbl_sanpham] OFF
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] ON 

INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (1, 1, N'admin', N'admin', 1, 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (2, 2, N'tranvana', N'ta123', 2, 1)
INSERT [dbo].[tbl_taikhoan] ([id], [id_q], [tentaikhoan], [matkhau], [id_ttcn], [trangthai]) VALUES (3, 2, N'tranvanb', N'tb123', 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_taikhoan] OFF
SET IDENTITY_INSERT [dbo].[tbl_thongtincanhan] ON 

INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (1, N'Nguyễn Văn Lộc', CAST(353237025 AS Decimal(18, 0)), N'mr.jerry0997@gmail.com', CAST(N'1997-02-01' AS Date), 1, N'https://img.icons8.com/bubbles/2x/user.png', N'Hà nội')
INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (2, N'Trần Văn B', CAST(476964655 AS Decimal(18, 0)), N'tranvanb@gmail.com', CAST(N'1997-02-02' AS Date), 0, N'https://img.icons8.com/bubbles/2x/user.png', N'Bắc giang')
INSERT [dbo].[tbl_thongtincanhan] ([id], [ten], [sdt], [email], [ngaysinh], [gioitinh], [anhdaidien], [diachi]) VALUES (3, N'Trần Văn C', CAST(31514656 AS Decimal(18, 0)), N'tranvanc@gmail.com', CAST(N'1997-02-03' AS Date), 0, N'https://img.icons8.com/bubbles/2x/user.png', N'Bắc Ninh')
SET IDENTITY_INSERT [dbo].[tbl_thongtincanhan] OFF
INSERT [dbo].[tbl_tinhtrangdonhang] ([id], [ten]) VALUES (N'1', N'Trong giỏ hàng')
INSERT [dbo].[tbl_tinhtrangdonhang] ([id], [ten]) VALUES (N'2', N'Đã xuất đơn hàng')
INSERT [dbo].[tbl_tinhtrangdonhang] ([id], [ten]) VALUES (N'3', N'Đã bán')
INSERT [dbo].[tbl_xulydon] ([id], [id_don], [tinhtrang], [thoigian]) VALUES (N'1', N'1', N'Đang Giao', CAST(N'2019-06-05 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_xulydon] ([id], [id_don], [tinhtrang], [thoigian]) VALUES (N'2', N'3', N'Đã nhận', CAST(N'2019-04-03 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_xulydon] ([id], [id_don], [tinhtrang], [thoigian]) VALUES (N'3', N'5', N'Đã hủy', CAST(N'2019-04-04 00:00:00.000' AS DateTime))
ALTER TABLE [dbo].[tbl_anh]  WITH CHECK ADD  CONSTRAINT [FK_tbl_anh_tbl_sanpham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[tbl_sanpham] ([id])
GO
ALTER TABLE [dbo].[tbl_anh] CHECK CONSTRAINT [FK_tbl_anh_tbl_sanpham]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang] FOREIGN KEY([id_don])
REFERENCES [dbo].[tbl_dondathang] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_dondathang]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham] FOREIGN KEY([id_sp])
REFERENCES [dbo].[tbl_sanpham] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_sanpham]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_taikhoan] FOREIGN KEY([id_tk])
REFERENCES [dbo].[tbl_taikhoan] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_taikhoan]
GO
ALTER TABLE [dbo].[tbl_chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_tbl_chitietdonhang_tbl_tinhtrangdonhang] FOREIGN KEY([id_tinhtrang])
REFERENCES [dbo].[tbl_tinhtrangdonhang] ([id])
GO
ALTER TABLE [dbo].[tbl_chitietdonhang] CHECK CONSTRAINT [FK_tbl_chitietdonhang_tbl_tinhtrangdonhang]
GO
ALTER TABLE [dbo].[tbl_news]  WITH CHECK ADD  CONSTRAINT [FK_tbl_news_tbl_taikhoan] FOREIGN KEY([id_tk])
REFERENCES [dbo].[tbl_taikhoan] ([id])
GO
ALTER TABLE [dbo].[tbl_news] CHECK CONSTRAINT [FK_tbl_news_tbl_taikhoan]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc] FOREIGN KEY([id_dm])
REFERENCES [dbo].[tbl_danhmuc] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_danhmuc]
GO
ALTER TABLE [dbo].[tbl_sanpham]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat] FOREIGN KEY([id_nsx])
REFERENCES [dbo].[tbl_nhasanxuat] ([id])
GO
ALTER TABLE [dbo].[tbl_sanpham] CHECK CONSTRAINT [FK_tbl_sanpham_tbl_nhasanxuat]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien] FOREIGN KEY([id_ttcn])
REFERENCES [dbo].[tbl_thongtincanhan] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_nhanvien]
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_tbl_taikhoan_tbl_quyen] FOREIGN KEY([id_q])
REFERENCES [dbo].[tbl_quyen] ([id])
GO
ALTER TABLE [dbo].[tbl_taikhoan] CHECK CONSTRAINT [FK_tbl_taikhoan_tbl_quyen]
GO
ALTER TABLE [dbo].[tbl_xulydon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_xulydon_tbl_dondathang] FOREIGN KEY([id_don])
REFERENCES [dbo].[tbl_dondathang] ([id])
GO
ALTER TABLE [dbo].[tbl_xulydon] CHECK CONSTRAINT [FK_tbl_xulydon_tbl_dondathang]
GO
USE [master]
GO
