@using BTL_WEB.Models.Entities
@{ 
    
}
<div id="editmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label id="idsanpham">@Model.id</label>
                    
                    <label>Text Input with Placeholder</label>
                    <input class="form-control" placeholder="Enter text">
                    <label for="disabledSelect">Disabled input</label>
                    <input class="form-control" type="text"  disabled>

                </form>
               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>